{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Вход</div>
                <div class="panel-body">
                    <form action="" method="post" autocomplete="off">
                        <div class="form-group{{ errors.email ? ' has-error' : '' }}">
                            <label for="email">Электронная почта</label>
                            <input type="email" name="email" id="email" placeholder="my@domain.ru" class="form-control" value="{{ old.email }}">
                            {% if errors.email %}
                                <span class="help-block">{{ errors.email | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.password ? ' has-error' : '' }}">
                            <label for="password">Пароль</label>
                            <input type="password" name="password" id="password" class="form-control">
                            {% if errors.password %}
                                <span class="help-block">{{ errors.password | first }}</span>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-default">Войти</button>
                        {{ csrf.field | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}